/* body */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #434455;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

/* header */
.header-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.studio-span {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.ul-header .ul-header-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.ul-header .ul-header-link:hover,
.ul-header .ul-header-link:focus {
  color: #404bbf;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.ul-adress-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.ul-adress .ul-adress-link:hover,
.ul-adress .ul-adress-link:focus {
  color: #404bbf;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* section button */
.section-button {
  background-color: #2e2f42;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.page-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.button-title {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background-color: #4d5ae5;
  cursor: pointer;
}

.button-title:hover,
.button-title:focus {
  background-color: #404bbf;
}

.button-text:hover {
  color: #fff;
}

.gheader-adres {
  font-style: normal;
}

/* section advantages*/

.strong-advantages {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: center;
}

.ul-advantages .title-advantages {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.ul-advantages .text-advantages {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* section dream team  */

.section-dream-team {
  text-align: center;
  background-color: #f4f4fd;
}

.title-section {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.ul-dream-team .title-dream-team {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.ul-dream-team .text-dream-team {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.ul-dream-team .list-item-dream-team {
  background-color: #fff;
}

/* section Our Portfolio */

.title-section-portfolio {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.ul-portfolio .title-portfolio {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.ul-portfolio .ul-text-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* footer */
.footer-page {
  background-color: #2e2f42;
}

.footer-span {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.text-footer {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.footer-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
